
#include <dt-bindings/zmk/matrix_transform.h>

/ {

    chosen {
        zmk,kscan = &matrix_wiring_kscan;
        zmk,matrix-transform = &matrix_wiring_transform;
    };

    matrix_wiring_kscan: matrix_wiring_kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "matrix_wiring_kscan";
        wakeup-source;
        diode-direction = "col2row";

        col-gpios
            = <&pro_micro 6 GPIO_ACTIVE_HIGH>
            , <&pro_micro 7 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };

    matrix_wiring_transform: matrix_wiring_transform {
        compatible = "zmk,matrix-transform";
        columns = <4>;
        rows = <2>;
        map = <
            RC(0,0) RC(0,1)             RC(0,2) RC(0,3)
            RC(1,0) RC(1,1)             RC(1,2) RC(1,3)
        >;
    };
};
